@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

nav {
    border: 1px solid black;
    padding: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar-elements > li {
    display: flex;
    align-items: center;
}

.centre-elements {
    display: flex;
    gap: 1rem;
}

.navbar-elements > li > a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    border-top: 2px solid black;
    padding-top: 0.5rem;
}








