
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0B101B;
  padding: 1rem;
}

div.page-content{
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100vw;
}
